*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DDD5D0;
}

h1{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
    font-weight: bold;
}

.form-control-color{
    width: 100%;
}