<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="../../public/assets/css/notificaciones.css" rel="stylesheet">
</head>

<body>
    <div class="container1">
        <button class="btn btn-primary me-md-2 mt-4 buton-regresar" onclick="location.href='../views/#'"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg> Regresar</button>
        <div class="header1">
            <h2>Veterinaria <br>
                Notificaciones <button type="button" class="btn btn-primary rounded-circle notification-count">
                     <i class="fas fa-bell"></i><span class="badge text-bg-secondary">4</span>
                  </button>
            </h2>
            <div class="notifications">
                <img src="../../public/assets/img/logotipo.png" class="img-fluid mx-auto d-block logo" width="300">
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Felipe García te envió un mensaje directo</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Felipe García te envió un mensaje directo</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Felipe García te envió un mensaje directo</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Felipe García te envió un mensaje directo</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Felipe García te envió un mensaje directo</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae nam, enim tempora praesentium
                fuga suscipit iste aliquam et non. Totam, commodi! Est possimus ducimus sequi perspiciatis
                exercitationem aspernatur dicta facilis!</div>
        </div>

        <div class="header">
            <span>Felipe García te envió un mensaje directo</span>
            <div></div>
            <div class="notifications">
                <div class="notification-item">🔔</div>
                <div></div>
            </div>
        </div>

        <div class="notification-item">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum enim ex, debitis officiis impedit
                dicta quo veritatis porro fugit delectus et ipsum provident, aliquam laborum possimus laudantium,
                omnis accusantium. Culpa!
                Animi velit, repellendus fugiat quidem sed non molestias laborum voluptatum ipsum dolores
                necessitatibus, asperiores excepturi atque. Dolore in illum qui repudiandae accusantium, adipisci
                voluptates accusamus aspernatur ipsam ratione excepturi et!
                Est dolore, ea iure praesentium molestiae autem exercitationem quod, eligendi eos facilis et vitae,
                voluptatibus unde suscipit perferendis cum nemo facere earum. Autem ipsam repellendus voluptate non
                possimus optio ratione.
                Qui debitis ratione similique officiis ipsam culpa, quisquam ab quibusdam ullam sit sed facere
                laudantium magnam, dignissimos voluptatum? Ex, dolor! Quos reiciendis, ratione adipisci numquam
                omnis magnam explicabo eos est!
                Vel, maiores tenetur! Error necessitatibus labore blanditiis, amet cum mollitia dolorum, eligendi
                praesentium expedita alias sint molestias obcaecati beatae voluptatibus neque, eaque eius quisquam
                ducimus quia magni? Accusamus, commodi esse.
                Exercitationem officia laboriosam est culpa ad incidunt ducimus atque, dolorum nesciunt id vitae?
                Unde quasi corrupti ipsum ut nulla, sunt aperiam voluptas harum nam quia praesentium, voluptatum
                dicta nemo debitis.
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>