<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../../public/assets/css/perfil.css">
    <title>Interfaz Principal</title>
</head>

<body class="bg-custom">
    <header>
        <div class="row align-items-center mb-3">
            <div class="col-md-2">
                <!-- Recuadro para la imagen -->
                <div>
                    <img src="../../public/assets/img/mariposa34.jpg" alt="Perfil" class="img-fluid rounded float-start m-3 border-img">
                </div>
            </div>
            <div class="col-md-8">
                <h2>Mi Perfil</h2>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
            <button class="btn btn-cerrar-sesion me-3" onclick="confirmarCerrarSesion()">
                <i class="fa-solid fa-right-to-bracket me-1"></i> Cerrar Sesión
            </button>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="col">
            <section class="container custom-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Botones pequeños en columna -->
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn btn-primary buton-perfil mb-2">Editar Perfil</button>
                        <button class="btn btn btn-primary buton-perfil mb-2">Gestionar Roles</button>
                        <button class="btn btn btn-primary buton-perfil mb-2">Gestionar Usuarios</button>
                        <button class="btn btn btn-primary buton-perfil mb-3" onclick="confirmarCancelacion()">Cancelar Cuenta</button>
                    </div>
                    <!-- Logo al lado de los botones -->
                    <div class="ms-4">
                        <img src="../../public/assets/img/logotipo.png" alt="Logo" class="img-fluid logo">
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-3 buton-regresar" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg> Regresar</button>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <script src="perfil.js"></script>
        <script>
            function confirmarCerrarSesion() {
                if (confirm("¿Seguro que quieres cerrar sesión?")) {
                    window.location.href = '../../public/index.html'; 
                }
            }
        </script>
    </body>
</body>

</html>